@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*

Couleurs
Jet: #292929
Platinium: #EBEBEB
Davys Grey: #494949
Sonic Silver: #7C7A7A
Rosewood: #66000E
 */
body {
    font-family: Roboto;
}

.page {
    height: 100%;
    overflow: hidden;
}

#sidebar {
    background-color: #292929;
    width: 230px;
    transition: all 0.2s;
    position: relative;
    z-index: 2;
}

#sidebar hr {
    border-color: white;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar .sticky {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #292929;
}

#sidebar .sticky .nav-title {
    width: 200px;
    overflow: hidden;
    padding: 10px;
}

#sidebar .sticky .side-menu {
    overflow: hidden;

}

#sidebar .sticky .side-menu.side-menu-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#sidebar .sticky .side-menu .nav-item:hover {
    background-color: #66000E;
}

#sidebar .sticky .side-menu .nav-item.active {
    background-color: #66000E;
    color: white;
}

#sidebar .sticky .side-menu .nav-item a {
    color: #EBEBEB;
    padding: 8px 10px 8px 22px;
    display: flex;
}

#sidebar .sticky .side-menu .nav-item a:hover {
    color: white;
    padding: 8px 10px 8px 22px;
    display: flex;
    text-decoration: none;
}

#sidebar .sticky .side-menu .nav-item a svg {
    width: 23px;
    margin-right: 10px;

    font-size: 23px;
}

#sidebar .sticky .side-menu .nav-item a i::before {
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar .sticky .side-menu .nav-item span {
    font-size: 1em;
}

#sidebar .sticky .side-menu .nav-item span:hover, #sidebar .sticky .side-menu .nav-item span.active {
    background: hsla(0, 0%, 100%, .2);
    cursor: pointer;
}

#content {
    width: calc(100% - 70px);
    background: #EBEBEB;
    transition: width 0.2s;
    margin-left: 40px;
    height: 100vh !important;
}

#content .nav-tabs-app {
    background: white;
    border-bottom: 1px solid slategrey;
    position: sticky;
    top: 0;
    padding-top: 10px;
}

#content .nav-tabs-app .title{
    margin: 5px 40px;
}

#content .tab-content {
    padding: 20px;
}

#content .box {
    background: #fff;
    border-radius: 4px;
    line-height: normal;
}

#content .box .box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

#content .box .box-header.box-separate {
    border-bottom: 1px solid #e6e9ed;
}

#content .box .box-header .box-title {
    font-size: 17px;
    font-weight: 500;
}

#content .box .box-header .box-actions {

    min-width: fit-content;
}

#content .box .box-header .box-actions a {
    margin-left: 10px;
}

#content .box .box-header .box-actions a:hover {
    color: hotpink;
}

#content.nav-md #sidebar {
    width: 230px;
    transition: all 0.2s;
}


#content.nav-md #sidebar .nav-title {
    width: 230px;
}

#content.nav-md #sidebar .nav-item span {
    visibility: visible !important;
}

/*PANELS*/

.nav-tabs {
    border: none;
    flex-wrap: nowrap;
}

.nav-tabs .nav-item {
    margin-bottom: 0;
    white-space: nowrap;
    flex: 1;
    text-align: center;
}

.nav-tabs .nav-link {
    font-size: 15px;
    background-color: #eee;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-right: 2px;
    padding: 1rem;
}

.nav-tabs .nav-link:not(.active) {
    color: #66000E;
}


.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    background: #66000E !important;
    color: white !important;
}

.btn.btn-secondary {
    background: #66000E !important;
}
